<div class="container">
	<div class = "row">
		<div class = "col-xs-12">
			{{!-- Jumobtron --}}
			<div class="jumbotron">
			  <h1 class="display-3">Reddit Life Pro Tips</h1>
			  <h2 class="lead">Click the scrape button to retrieve up-to-date articles from reddit's Life Pro Tips Subreddit.</h2>
			  <hr class="my-4">
			  <p class="lead">
			    <button class="btn btn-primary btn-lg scrape">Scrape!</button>
			    <button class="btn btn-primary btn-lg view-scrapes">View Existing Scrapes</button>
			  </p>
			</div>
		</div>
	</div>

	<div class = "row">
		<div class = "col-xs-8">
			{{!-- articles --}}
		</div>

		<div class = "col-xs-4">
			{{!-- comments --}}
		</div>

	</div>
	
</div>